.search-form {
  width: 100%;
  max-width: 680px;
}

.search-form-elem {
  padding: 1.4rem 2.8rem;
  border-radius: 3.8rem;
}

.search-form-elem .form-control {
  font-size: 2rem;
  padding: 0.6rem;
  caret-color: var(--purple-color);
}

.search-form-elem .form-control::placeholder {
  opacity: 0.9;
}
.search-form-radio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.radio-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.radio-label {
  color: #ffffff;
  font-size: 2rem;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.search-everything-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search-everything-button {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  background-color: var(--purple-color); /* Green color for button */
  color: var(--white-color); /* White text color for button */
  border: none;
  border-radius: 3.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-everything-button:hover {
  background-color: var(
    --light-purple-color
  ); /* Lighter green color on hover */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}

.invalid::placeholder {
  opacity: 0.5;
}
